## Modelling

In this Notebook we can start modelling, with some data from our DB.

- To do this we can connect with our local DB using the `duckdb` library
- When a connection has been made we can start retrieving data from our DB.

### Setup

In [3]:
import duckdb
import polars as pl
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import mlflow
import mlflow.xgboost

In [4]:
%load_ext sql
conn = duckdb.connect(database="../dsp-dagster/data_systems_project.duckdb")
%sql conn --alias duckdb
%sql SHOW ALL TABLES; # shows all available tables

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

,database,schema,name,column_names,column_types,temporary
0,data_systems_project,joined,incidents_buurten,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[BIGINT, DATE, TIME, TIME, TIME, DOUBLE, VARCH...",False
1,data_systems_project,joined,incidents_wijken,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[BIGINT, DATE, TIME, TIME, TIME, DOUBLE, VARCH...",False
2,data_systems_project,public,bag_panden,"[geometry, identificatie, rdf_seealso, bouwjaa...","[BLOB, VARCHAR, VARCHAR, BIGINT, VARCHAR, VARC...",False
3,data_systems_project,public,cbs_buurten,"[geometry, buurtcode, buurtnaam, wijkcode, gem...","[BLOB, VARCHAR, VARCHAR, VARCHAR, VARCHAR, VAR...",False
4,data_systems_project,public,cbs_wijken,"[geometry, wijkcode, wijknaam, gemeentecode, g...","[BLOB, VARCHAR, VARCHAR, VARCHAR, VARCHAR, BIG...",False
5,data_systems_project,public,fire_stations_and_vehicles,"[Fire_Station, Vehicle, Vehicle_Type]","[VARCHAR, VARCHAR, VARCHAR]",False
6,data_systems_project,public,service_areas,"[H_Verzorgingsgebied_ID, Verzorgingsgebied, LA...","[BIGINT, VARCHAR, DOUBLE, DOUBLE, VARCHAR]",False
7,data_systems_project,public,storm_deployments,"[Deployment_ID, Incident_ID, Vehicle_Type, Veh...","[BIGINT, BIGINT, VARCHAR, VARCHAR, VARCHAR, VA...",False
8,data_systems_project,public,storm_incidents,"[Incident_ID, Date, Incident_Starttime, Incide...","[BIGINT, DATE, TIME, TIME, TIME, BIGINT, VARCH...",False

In [5]:
## We can use SQL magic to retrieve data from our DB like so:
# %sql res << SELECT * FROM joined.deployment_incident_vehicles_weather
# res

In [9]:
# Or the more Pythonic way:

# Here we retrieve a table where KNMI weather data and Fire Department data is combined
df = conn.execute(
    """
    SELECT * FROM joined.incidents_buurten """
).pl()

# Close the database connection
conn.close()

In [10]:
df.head()

shape: (5, 60)
┌──────┬────────────┬──────────┬──────────┬───┬──────────────┬──────────────┬─────────────┬────────┐
│ 0    ┆ 1          ┆ 2        ┆ 3        ┆ … ┆ oppervlakteL ┆ oppervlakteW ┆ jrstatcode  ┆ jaar   │
│ ---  ┆ ---        ┆ ---      ┆ ---      ┆   ┆ andInHa      ┆ aterInHa     ┆ ---         ┆ ---    │
│ i64  ┆ date       ┆ time     ┆ time     ┆   ┆ ---          ┆ ---          ┆ str         ┆ f64    │
│      ┆            ┆          ┆          ┆   ┆ f64          ┆ f64          ┆             ┆        │
╞══════╪════════════╪══════════╪══════════╪═══╪══════════════╪══════════════╪═════════════╪════════╡
│ 511  ┆ 2018-09-07 ┆ 08:25:18 ┆ 10:00:56 ┆ … ┆ 43.0         ┆ 1.0          ┆ 2022BU03621 ┆ 2022.0 │
│      ┆            ┆          ┆          ┆   ┆              ┆              ┆ 104         ┆        │
│ 738  ┆ 2018-09-10 ┆ 16:46:38 ┆ 18:00:55 ┆ … ┆ 22.0         ┆ 1.0          ┆ 2022BU03632 ┆ 2022.0 │
│      ┆            ┆          ┆          ┆   ┆              ┆              ┆ 902         ┆        │
│ 739  ┆ 2018-09-10 ┆ 17:11:20 ┆ 18:01:00 ┆ … ┆ 23.0         ┆ 0.0          ┆ 2022BU03632 ┆ 2022.0 │
│      ┆            ┆          ┆          ┆   ┆              ┆              ┆ 404         ┆        │
│ 1335 ┆ 2018-09-18 ┆ 19:17:33 ┆ 20:41:29 ┆ … ┆ 21.0         ┆ 1.0          ┆ 2022BU03636 ┆ 2022.0 │
│      ┆            ┆          ┆          ┆   ┆              ┆              ┆ 804         ┆        │
│ 1493 ┆ 2018-09-21 ┆ 06:59:05 ┆ 08:21:25 ┆ … ┆ 50.0         ┆ 2.0          ┆ 2022BU03620 ┆ 2022.0 │
│      ┆            ┆          ┆          ┆   ┆              ┆              ┆ 603         ┆        │
└──────┴────────────┴──────────┴──────────┴───┴──────────────┴──────────────┴─────────────┴────────┘

In [ ]:
def plot_feature_importances(model, feature_names, top_n=20, title="Feature Importances"):
    """
    Plots the top n feature importances in a horizontal bar chart.

    :param model: The trained model
    :param feature_names: List of feature names
    :param top_n: Number of top features to display
    :param title: Title of the plot
    """
    # Extract feature importances
    importances = model.feature_importances_

    # Create a DataFrame and sort it based on importances
    feature_importance_df = pd.DataFrame(
        {"Feature": feature_names, "Importance": importances}
    )
    feature_importance_df = feature_importance_df.sort_values(
        by="Importance", ascending=False
    ).head(top_n)

    # Plotting
    plt.figure(figsize=(10, 6))
    sns.barplot(
        data=feature_importance_df, y="Feature", x="Importance", palette="viridis"
    )
    plt.title(title)
    plt.xlabel("Relative Importance")
    plt.ylabel("Feature")
    plt.tight_layout()

    return plt

### XGBoost

In [ ]:
# Select only the relevant columns
weather_cols = [
    "Dd",
    "Fh",
    "Ff",
    "Fx",
    "T",
    "T10n",
    "Td",
    "Sq",
    "Q",
    "Dr",
    "Rh",
    "P",
    "Vv",
    "N",
    "U",
    "Ww",
    "Ix",
    "M",
    "R",
    "S",
    "O",
    "Y",
]
group_cols = ["Date", "Hour", "Service_Area", "Damage_Type"] + weather_cols

# Aggregate data
agg_df = (
    df.groupby(group_cols)
    .agg(Incident_Count=pl.count("Incident_ID"))
    .sort(["Date", "Hour"])
)


# Drop Date and Hour columns if not needed
agg_df = agg_df.drop(["Date", "Hour"])

# Encode categorical variables using one-hot encoding
agg_df = agg_df.to_dummies(columns=["Service_Area", "Damage_Type"])

# Splitting the features and target variable
y = agg_df["Incident_Count"]
X = agg_df.drop("Incident_Count")

# Convert to Pandas DataFrame for compatibility with scikit-learn
X_pd = X.to_pandas()
y_pd = y.to_pandas()

# Split the data
X_train, X_test, y_train, y_test = train_test_split(
    X_pd, y_pd, test_size=0.2, random_state=42
)

# Train XGBoost model
model = xgb.XGBRegressor(
    objective="count:poisson"
)  # Using Poisson regression for count data

model.fit(X_train, y_train)

# Make predictions and calculate metrics
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)

# Plot feature importances
feature_importances = model.feature_importances_


print(feature_importances)
plot_feature_importances(model, X_train.columns, top_n=20)


# Set the MLflow tracking URI
mlflow.set_tracking_uri("http://dsp-mlflow:5001")

# Start an MLFlow run
with mlflow.start_run(run_name="Incident Prediction Model"):
    # Log model
    mlflow.xgboost.log_model(model, "xgboost-model")

    # Log parameters
    mlflow.log_params(model.get_params())

    # Log metrics
    mlflow.log_metric("MSE", mse)
    mlflow.log_metric("RMSE", rmse)
    mlflow.log_metric("MAE", mae)